---
import BaseLayout from '../layouts/BaseLayout.astro';
// TODO: this page was extracted from the previous Webflow site. Review and
// edit content as needed via the CMS once it's wired up.
---
<BaseLayout title="Man + Mountain: Learning Resources">
  <article class="article">
    <h1>Man + Mountain: Learning Resources</h1>
  <p>‍‍These online resources can also link to Project Boxes containing climbing clothing and equipment from different ages which bring excellent hands-on investigations and interactive opportunities into the classroom. All the web resources are available to download from this page, and project boxes can be requested by getting in contact with us through the contact form.</p>
  <h3>Introduction and Resource Overview</h3>
  <p>Further information and overviews about the resources available and where they might best fit in to your lessons. Download here.</p>
  <h3>Chris Bonington: A Life of Adventure</h3>
  <p>An introductory PowerPoint presentation which provides a useful overview of Chris Bonington's life. This is a great way to start any of the topics listed below. Download here.</p>
  <p>This pack can be used with small groups for guided reading. It is most suitable for year 5 and 6 although able readers in Year 3 and 4 will enjoy it too. It follows the life of Chris Bonington and is chronologically organised. There are also factual sections about high mountain environments that give extra background information to the biographical content. The accompanying learning activities can be download here. Please get in touch with us via the contact form to order copies of the non-fiction guided reading book.</p>
  <p>This pack of sessions can be used together as shown here or separately as individual lessons focusing on PSHE or Design and Technology. Download here.</p>
  <p>Find out through practical activity about the high mountains Chris Bonington has climbed and how they have formed through movement of the Earth’s crust. Download here.</p>
  <p>This resource considers the effect of more people exploring the world on their own ‘quests for adventure’. In groups, pupils will look for similarities and differences between pressure on the landscape in the Lake District and on Everest. Download here.</p>
  <p>This pack uses Chris Bonington's life and expeditions to high mountains to investigate survival challenges for humans in high mountain environments and the importance of looking after our world. Download here.</p>
  <h3>Other Resource Boxes Available</h3>
  <p>Mountain Games and Activity BoxesQuiz, jigsaws and printable activities to accompany the lesson resources above. Download here.Climbing Gear BoxThe climbing gear in this resource box is a mixture of older and more modern equipment and the information cards can be used to explain what each item is. Download here.</p>
  </article>
</BaseLayout>
