---
import BaseLayout from '../layouts/BaseLayout.astro';
// TODO: this page was extracted from the previous Webflow site. Review and
// edit content as needed via the CMS once it's wired up.
---
<BaseLayout title="Privacy Notice">
  <article class="article">
    <h1>Privacy Notice</h1>
  <p>The Mountain Heritage Trust respects your privacy and is committed to protecting your personal data. We will fulfil our obligations under the Data Protection Act 1998 and the General Data Protection Act (GDPR) 2018. This privacy notice tells you what we do with your personal data, the legal bases we use for processing the data, how long we keep it and your rights as an individual.</p>
  <p>The Mountain Heritage Trust is a registered charity (no. 1083219) and company limited by guarantee (no. 3950830). It is dedicated to preserving and curating Britain’s mountaineering and climbing heritage.</p>
  <p>Our mission is to celebrate and share the extraordinary story of British mountaineering and climbing; a story of adventure, endurance, loss, storytelling and camaraderie.</p>
  <p>Our vision is to create an innovative and exciting heritage offer for local, national and international audiences, providing inspiring experiences for all through our unique collections and remarkable stories.</p>
  <p>Our collections and the wealth of information about them are made available to the public via displays, exhibitions, interpretation, formal and informal learning events and activities with supported research into the collections by staff, volunteers and the public allowing us to tell new stories about British mountaineering and climbing.</p>
  <h3>WHY WE COLLECT INFORMATION ABOUT YOU?</h3>
  <p>We only collect, use and store information about you where we have lawful grounds and legitimate reasons for doing so. We use your personal information:</p>
  <p>We use your data to ensure that we communicate with you in the most effective and appropriate way.</p>
  <h3>WHAT INFORMATION DO WE HOLD ABOUT YOU?</h3>
  <p>Personal information is any information which will identify a living individual. We collect information such as:</p>
  <p>&lt;&lt;DO NOT DELETE iubenda cookies block placed here on published version &gt;&gt;</p>
  <h3>HOW DO WE PROTECT PERSONAL DATA</h3>
  <p>Your privacy is extremely important to us and we take our responsibility for the security of your data very seriously. We ensure that personal data is held on our secure server and ensure that any third party server that we use is appropriately secure. We only use servers in the EU. Personal data held on paper and photographs are held in secure lockable cabinets or in the secure archive store. We regularly review our Data Protection and Information Security Policy.</p>
  <h3>HOW LONG DO WE HOLD YOUR INFORMATION FOR?</h3>
  <p>We will not keep your personal information for any longer than is necessary for the purposes for which it was originally collected and to meet legal requirements, for example for financial records. We regularly review our retention polices for personal data.</p>
  <h3>WHAT HAPPENS IF I NO LONGER WANT YOU TO PROCESS DATA ABOUT ME?</h3>
  <p>You can opt out of being contacted by us at any point by clicking ‘unsubscribe’ at the bottom of the email or contacting the Collections Manager using the details at the end of this policy.</p>
  <p>You have rights in relation to the personal information we hold about you. These are:</p>
  <p>Whilst this privacy policy sets out a general summary of your legal rights in respect of personal information, this is a very complex area of law. More information about your legal rights can be found on the Information Commissioner’s website at:</p>
  <p>https://ico.org.uk/for-the-public.</p>
  <p>If you are unhappy about the way we handle your personal data please let us know verbally or in writing by contacting us at the address given below.</p>
  <p>We will explain how we have processed your personal information and if we have made a mistake will tell you how we will put this right.</p>
  <p>If you are still dissatisfied, you may report your concern to the Information Commissioner’s Office (ICO) by contacting: Information Commissioner, Wycliffe House, Water Lane, Wilmslow SK9 5AF, Tel. 0303 123 1113</p>
  <p>If you have any questions about this Privacy Notice, the practices of this site, or your dealings with this site, please contact us at: enquiries@mountain-heritage.org.uk,</p>
  <p>or by writing to the Collections Manager, Mountain Heritage Trust, Blencathra Field Centre, Threlkeld, Cumbria, CA12 4SG. Alternatively you can telephone 01768 779911</p>
  </article>
</BaseLayout>
